.table {
    thead {
        tr {
            th {
                padding: 1em;
                font-weight: 600 !important;
                border: 0;
                border-bottom: 1px solid #111114;
            }
        }
    }
    tbody {
        tr {
            th {
                padding: 1em;
            }
            td {
                padding: 1em;
            }
        }
    }
}